@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
}

#display {
    min-height: 100vh;
    height: auto;
}

#hero {
    color: white;
    padding: 35px 0 35px 0;
    background: #FF512F; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F09819, #FF512F); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

    #hero > h1 {
        margin-top: 0;
    }

footer {
    text-align: center;
    padding-top: 15px;
    width: 100%;
    height: 150px;
    color: white;
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#header {
    display: none;
    padding-top: 2em;
    padding-bottom: 2em;
}

#collection {
    display: none;
    background-color: #121212;
    padding-bottom: 10px;
    padding-top: 10px;
}

#error {
    display: none;
    color: red;
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 40px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.title {
    color: blue;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    height: 46px;
    display: inline-flex;
    align-content: center;
    align-items: center;
    overflow: hidden;
    font-weight: bolder;
}

.subtitle {
    color: black;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 4px;
    margin-bottom: 0px;
    text-align: center;
}

.type {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    top: 63%;
}

.platform {
    display: flex;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    width: 100%;
    align-content: center;
    align-items: center;
    min-height: 38px;
    top: 66.5%;
    justify-content: center;
}

.time {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    position: absolute;
    width: 100%;
    top: 70.4%;
}

.gamerscore {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    position: absolute;
    width: 100%;
    top: 77%;
}

.counter {
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    position: inherit;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.icon-intext {
    width: 1em;
    height: 1em;
    display: inline-block;
}

.image {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
}

.image-tall {
    object-fit: contain;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
}

.image-wrapper {
    display: inline-block;
    width: 300px;
    height: 450px;
    margin-top: 4px;
}

.name-item {
    display: inline-block;
    text-align: center;
    list-style: none;
    width: 310px;
    height: 900px;
    align-content: center;
    margin: 1.5px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #555555;
    position: relative;
}

.playing-item {
    color: lawngreen;
}

.backlog-item {
    color: blue;
}

.unplayed-item {
    color: mediumaquamarine;
}

.retired-item {
    color: darkred;
}

.replay-item {
    color: orange;
}

.beaten-item {
    color: #6904cd;
}

.completed-item {
    color: gold;
}

.null-item {
    color: black;
}

.progress-back {
    width: 284px;
    height: 1em;
    background-color: lightgrey;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0.4em;
    border: solid;
    border-width: medium;
    position: absolute;
    top: 83%
}

.progress-bar {
    height: 100%;
    border-radius: inherit;
    background-color: green;
    width: var(--progress);
}

.progress-text {
    text-align: left;
    margin-top: 3px;
    display: block;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    top: 86.5%;
}

.trophy-wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 76.5%;
    vertical-align: bottom;
    align-content: center;
}

.header-flex-wrapper {
    position: inherit;
    display: inline-flex;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.trophy-figure {
    display: inline-block;
    text-align: center;
    height: 3em;
    width: auto;
    margin: 0.25em;
    margin-bottom: 0px;
    align-self: flex-end;
    overflow: hidden;
    min-height: 51px;
}

.trophy-icon {
    display: block;
    margin: 0 auto;
    width: 2.0em;
    height: 2.0em;
}

.trophy-text {
    font-weight: bolder;
    height: auto;
    align-self: flex-end;
    display: block;
    width: auto;
    margin-bottom: 0px;
    min-height: 1em;
}

.platinum {
    color: #75d6f9;
}

.gold {
    color: #C2903E;
}

.silver {
    color: #777777;
}

.bronze {
    color: #a3522d;
}

.progress-note {
    display: block;
    margin: 10px;
    text-align: left;
    position: absolute;
    top: 89%;
}

.progress-note-text {
    display: inline-block;
    margin: 0em;
    overflow: hidden;
    max-height: 3.5em;
}

.filter-button-wrapper {
    height: auto;
    width: auto;
    display: block;
}

.filter-button {
    height: 3em;
    width: 6em;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.filter-button-used {
    background-color: darkgrey;
}

#noNameFound {
    display: none;
    color: red;
}