@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', 'coda-symbol', sans-serif;
    text-align: center;
    margin: 0;
}

#display {
    min-height: 100vh;
    height: auto;
}

#hero {
    color: white;
    padding: 35px 0 35px 0;
    background: #FF512F; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F09819, #FF512F); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#hero > h1 {
    margin-top: 0;
}

footer {
    text-align: center;
    padding-top: 15px;
    width: 100%;
    height: fit-content;
    color: white;
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#header-top {
    background-color: #222222;
}

#header-main {
    display: none;
    width: 100%;
    background-color: #222222;
}

#collection {
    display: none;
    background-color: #121212;
    padding-bottom: 10px;
    padding-top: 10px;
}

#error {
    display: none;
    color: red;
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 40px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'coda-symbol';
    src: url("fonts/codaSymbol.ttf") format('truetype');
    unicode-range: U+1D10C;
}

.title-div {
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 112px;
    margin: 2px;
}

.title-div-break {
    height: 3px;
    margin: 0px;
    padding: 0px;
}

.title-old {
    color: blue;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    height: 46px;
    display: inline-flex;
    align-content: center;
    align-items: center;
    overflow: visible;
    font-weight: bolder;
}

.title {
    color: blue;
    font-size: 1.5em;
    text-align: center;
    font-weight: bolder;
    margin: 0px;
}

.subtitle-old {
    color: black;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 4px;
    margin-bottom: 0px;
    text-align: center;
}

.subtitle {
    color: black;
    display: block;
    text-align: center;
    margin: 0px;
}

.type {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    top: 63%;
}

.platform {
    display: flex;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    width: 100%;
    align-content: center;
    align-items: center;
    min-height: 38px;
    top: 66.5%;
    justify-content: center;
}

.time {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    position: absolute;
    width: 100%;
    top: 70.4%;
}

.xp {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    position: absolute;
    width: 100%;
    top: 76%;
    font-size: 1.5em;
}
.xp-divider {
    margin-left: 1.25%;
    margin-right: 1.25%;
}

.counter {
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    position: inherit;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.icon-intext {
    width: 1em;
    height: 1em;
    display: inline-block;
}

.image {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
}

.image-tall {
    object-fit: contain;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
}

.image-wrapper {
    display: inline-block;
    width: 300px;
    height: 450px;
    margin-top: 4px;
}

.box-item {
    display: inline-block;
    text-align: center;
    list-style: none;
    width: 310px;
    height: 900px;
    align-content: start;
    margin: 1.5px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #555555;
    position: relative;
}

.box-collection-item {
    position: absolute;
    bottom: -2em;
    right: -2em;
    width: 4em;
    height: 4em;
    -webkit-transform: rotate(45deg);
    background: gold;
}

.list-item{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    height: 4em;
    border-radius: 20px;
    overflow: hidden;
    background-color: #555555;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.list-info-wrapper {
    width: fit-content;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.list-title {
    overflow: visible;
    text-align: left;
}

.list-type {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

.list-time {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    padding-right: 10px;
}

.list-replay {
    margin-right: 0.25em;
    font-size: 1.17em;
}

.playing-item {
    color: lawngreen;
}

.backlog-item {
    color: blue;
}

.unplayed-item {
    color: mediumaquamarine;
}

.retired-item {
    color: darkred;
}

.replay-item {
    color: #f3f3f3;
}

.beaten-item {
    color: #6904cd;
}

.completed-item {
    color: gold;
}

.null-item {
    color: black;
}

.progress-back {
    width: 284px;
    height: 1em;
    background-color: lightgrey;
    border-radius: 9px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0.4em;
    border: solid;
    border-width: medium;
    position: absolute;
    top: 83%
}

.progress-bar {
    height: 100%;
    border-radius: 5px;
    background-color: green;
    width: var(--progress);
}

.progress-text {
    text-align: left;
    margin-top: 3px;
    display: block;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    top: 86.5%;
}

.trophy-wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 76.5%;
    vertical-align: bottom;
    align-content: center;
}

.header-flex-wrapper {
    position: inherit;
    display: inline-flex;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}

.header-small-text-span {
    font-size: small;
    margin-top: auto;
    margin-bottom: 2.5%;
    text-wrap: nowrap;
    margin-left: 2%;
}

.trophy-figure {
    display: inline-block;
    text-align: center;
    height: 3em;
    width: auto;
    margin: 0.25em;
    margin-bottom: 0px;
    align-self: flex-end;
    overflow: hidden;
    min-height: 51px;
}

.trophy-icon {
    display: block;
    margin: 0 auto;
    width: 2.0em;
    height: 2.0em;
}

.trophy-text {
    font-weight: bolder;
    height: auto;
    align-self: flex-end;
    display: block;
    width: auto;
    margin-bottom: 0px;
    min-height: 1em;
}

.platinum {
    color: #75d6f9;
}

.gold {
    color: #C2903E;
}

.silver {
    color: #777777;
}

.bronze {
    color: #a3522d;
}

.progress-note {
    display: block;
    margin: 10px;
    text-align: left;
    position: absolute;
    top: 89%;
}

.progress-note::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
    opacity: 0;
}

.progress-note-text {
    display: inline-block;
    margin: 0em;
    max-height: 3.5em;
}

.scrollable-text{
    overflow-x: hidden;
    overflow-y: hidden;
}

.scrollable-text:hover{
    overflow-y: auto;
}

.scrollable-text::-webkit-scrollbar {
    width: 0.25em;
}

.scrollable-text::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
    opacity: 0.5;
}

.filter-button-wrapper {
    height: auto;
    width: auto;
    display: block;
}

.filter-button {
    height: 3em;
    width: 6.5em;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 0.25em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    border-color: transparent;
    border-radius: 5px;
    background-color: #757575;
}

.filter-button-used {
    background-color: #303030;
    border-color: black;
}

.checkbox-label {
    font-size: large;
    font-weight: bold;
    margin-right: 0.1em;
}

.checkbox-div{
    display: inline-flex;
    width: auto;
    height: auto;
    padding: 0.25em;
}

#noNameFound {
    display: none;
    color: red;
}

body::-webkit-scrollbar {
    width: 1em;
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: grey;
    border: 0.25em solid transparent;
    border-top: 0.1em solid transparent;
    border-bottom: 0.1em solid transparent;
    background-clip: content-box;
    opacity: 0.5;
}

body::-webkit-scrollbar-track-piece {
    background: transparent;
}

.collection-bar-back {
    width: 80%;
    height: 1.25em;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: medium;
    display: flex;
}

.collection-bar-element {
    display: inline-flex;
    justify-content: center;
    height: 100%;
    width: var(--amount);
}

.collection-bar-element .popuptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 3;
    padding: 5px;
    margin-top: -2.5em;
}

.collection-bar-element:hover .popuptext {
    visibility: visible;
}


.collection-bar-element:hover .popuptext {
    visibility: visible;
}

.collection-bar-element .popuptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.playing-bar {
    background-color: lawngreen;
}

.backlog-bar {
    background-color: blue;
}

.unplayed-bar {
    background-color: mediumaquamarine;
}

.retired-bar {
    background-color: darkred;
}

.beaten-bar {
    background-color: #6904cd;
}

.completed-bar {
    background-color: gold;
}

.replay-bar {
    background-color: #f3f3f3;
}

.null-bar {
    background-color: black;
}

.all-achievements {
    filter: invert(85%) sepia(31%) saturate(2766%) hue-rotate(359deg) brightness(102%) contrast(104%);
}

.center-screen {
    width: 90%;
    height: 90%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
    top: 5%;
    left: 5%;
    border-radius: 20px;
    background-color: #606060;
    z-index: 10;
    gap: 0.5em;
}

.popup-background {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: fixed;
    display: flex;
    z-index: 9;
    background-color:rgba(60, 60, 60, 0.79);
}

.detailed-close {
    position: absolute;
    width: 32px;
    height: 32px;
    right: -12px;
    top: -12px;
    border-radius: 5px;
    background-color: white;
    z-index: 11;
}

.detailed-left-div {
    display: inline-flex;
    height: 95%;
    max-height: 95%;
    margin-left: 0.5em;
    object-fit: contain;
    flex-direction: column;
    width: fit-content;
}

.detailed-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
    aspect-ratio: 2/3;
    flex: 1 0 auto;
}

.detailed-image {
    object-fit: contain;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
}

.detailed-image-tall {
    object-fit: contain;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
}

.detailed-right-div {
    width: auto;
    max-width: 100%;
    height: 95%;
    max-height: 95%;
    flex-grow: 1;
    display: inline-flex;
    margin-right: 0.75em;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.15em;
}

.detailed-splitter {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.1rem;
    height: auto;
    overflow: hidden;
    width: 100%;
}

.detailed-split-div {
    flex-grow: 1;
    flex-basis: 45%;
    margin-right: 0px;
    height: auto;
    flex-shrink: 1;
    overflow: hidden;
    max-height: 100%;
}

.detailed-text-wrapper {
    width: 100%;
    height: auto;
    background-color: lightgrey;
    border-radius: 5px;
    text-align: left;
}

.detailed-date-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.detailed-completion-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.detailed-text {
    margin: 0.1rem 0.1rem 0.1rem 0.2rem;
    font-weight: 500;
    width: auto;
    font-size: 1em;
}

.detailed-text-right {
    text-align: right;
    justify-content: flex-end;
    margin: 0.1rem 0.2rem 0.1rem 0.1rem;
}

.detailed-text-title {
    font-weight: 1000;
    font-size: 1.5em;
}

.detailed-text-bold {
    font-weight: 900;
}

.detailed-text-small {
    font-size: 0.8em;
}

.detailed-text-inline {
    display: inline-block;
}

.detailed-text-completion {
    display: inline-block;
    flex-basis: 40%;
    flex-grow: 1;
}

.detailed-time-display {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1.25em;
    font-weight: bolder;
}

.detailed-categories-div {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.1rem;
}

.detailed-category {
    font-size: 0.8em;
    border-radius: 5px;
    flex-grow: 1;
    flex-basis: 50%;
}

.detailed-category-text {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-weight: 1000;
}

.detailed-linkedtitles-bg {
    width: 100%;
    height: auto;
    background-color: lightgrey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.detailed-linkedtitles-title {
    margin: 0.1rem;
    font-weight: 1000;
    width: auto;
    font-size: 1em;
}

.detailed-linkedtitles-scroller {
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow-y: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    gap: 1px;
    flex-direction: column;
}

.detailed-linkedtitles-scroller:hover {
    overflow-y: auto;
}

.detailed-linkedtitles-scroller::-webkit-scrollbar {
    width: 0.25em;
}

.detailed-linkedtitles-scroller::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
    opacity: 0.5;
}

.detailed-linkedtitles-element {
    width: auto;
    max-width: 100%;
    height: auto;
    background-color: darkgrey;
    border-radius: 5px;
    text-align: left;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0px;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.detailed-notes-text {
    text-align: left;
    max-width: 100%;
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-size: 0.9em;
    font-weight: 400;
    margin: 0px;
}

.detailed-progress-bar {
    width: auto;
    position: relative;
    top: auto;
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
}

.detailed-xp {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    position: relative;
}

.left-text, .right-text, .center-char {
    display: inline-block;
}
.left-text, .right-text {
    flex: 1;
}
.left-text, .left-xp-div {
    text-align: right;
}
.right-text, .right-xp-div {
    text-align: left;
}
.center-char, .center-char-xp {
    margin-left: 1%;
    margin-right: 1%;
    font-size: 1.375em;
    margin-bottom: 0.5%;
}
.center-char {
    flex: 0;
}
.center-char-xp {
    margin-top: 0%;
}
.left-xp-div, .right-xp-div {
    display: flex;
    flex: 1;
    align-items: center;
}
.left-xp-div {
    justify-content: flex-end;
}
.right-xp-div {
    justify-content: flex-start;
}
.trophy-xp-icon {
    width: 1.75em;
    height: 1.75em;
    margin-right: 0.25em;
    display: inline-block;
}
.trophy-xp-div {
    display: flex;
    flex-direction: column;
}
.trophy-xp-text, .trophy-xp-line {
    margin: 0px;
}
.trophy-xp-line {
    font-weight: bold;
    font-size: 2.5em;
    line-height: 0.2em;
}

.show-all-button {
    display: block;
    height: 3em;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0.5em;
    border-color: transparent;
    border-radius: 5px;
    background-color: #757575;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}